.App {
  text-align: center;
}

.editable {
  font-family: sans-serif;
  margin-left: 10%;
  width: 75%;
  min-height: 100px;
  padding: 5px;
  resize: none;
  outline: none;
}

.circlePopup {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 100%;
  border: 1px solid rgba(0,0,0,.15);
  width: 32px;
  height: 32px;
}

p {
  display: block;
  box-sizing: border-box;
}

.hi {
  font-size: 23px;
}

textarea.editable {
  font-family: monospace, monospace;
}

button {
  min-width: 70px;
  padding: 5px;
  margin: 5px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
